*,
html {
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  box-sizing: border-box;
  margin: 0, auto;
}

body {
  margin: auto;
}

header {
  margin: auto;
  width: 100%;
  display: inline;
}

nav {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 48px;
  background-color: #fafaf9;
  margin-left: -24px;
  margin-top: -8px;
}

.paragraph {
  font-size: 0.68em;
  font-weight: 500;
}

.navbar {
}

.logo {
  margin-top: 4px;
  margin-right: 48px;
}

ul {
  display: flex;
  position: relative;
  gap: 24px;
  list-style-type: none;
}

.nav-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: -24px;
}

.primary-nav-content {
  display: flex;
  gap: 24px;
}

.secondary-nav-content {
  display: flex;
  gap: 24px;
  margin-right: 16px;
}

.search {
  border: none;
  outline: none;
  background-color: #fafaf9;
  width: 64px;
  text-align: center;
}

.search::placeholder {
  color: #000000;
  font-size: 0.8em;
  text-decoration: none;
  transition: color 0.3s ease;
}

.search:hover::placeholder {
  color: #b5c0d0;
}

.cart {
  cursor: pointer;
  margin-top: 2px;
}

li {
}

a {
  color: #000000;
  font-size: 0.68em;
  text-decoration: none;
  transition: color 0.3s ease;
}

a:hover {
  color: #b5c0d0;
}

.get-started {
  border-radius: 25px;
  padding: 4px;
  background-color: bisque;
}

main {
  background-color: blueviolet;
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 8px;
  margin-top: 40px;
  height: 100vh;
}

.content {
  flex-grow: 8;
  margin: 8px;
  background-color: aquamarine;
}

.content-aside {
  margin: 8px;
  flex-grow: 4;
  background-color: burlywood;
}

.img-container {
  width: 100%;
  height: 100%;
}
.img {
  object-fit: cover;
  width: 100%;
}

footer {
  padding: 24px;
  display: flex;
  flex-direction: row;
}

.footer-content {
  flex-grow: 1;
}

.email {
  border: none;
  outline: none;
  width: 100%;
}

.email::placeholder {
  font-size: 0.8em;
  font-family: "Noto Sans", sans-serif;
}

.footer-aside {
  flex-grow: 12;
  margin: auto;
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center;
}
.footer-aside img {
  margin: left -24px;
  align-items: center;
}

.contact {
  margin-top: 48px;
}

.contact p {
  font-size: 0.68em;
  font-weight: 500;
}

.contact-email a {
  font-size: 1em;
}

.copyright {
  margin-bottom: -16px;
  margin-top: 48px;
}
